<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyp.materialqqlite" >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/qqicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label" >
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.VerifyCodeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".ui.ChatActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSwipeBack"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!--
            <activity
            android:name="com.wyp.materialqqlite.ui.GroupActivity"
            android:label="@string/app_name"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <activity
            android:name=".ui.PicViewerActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".QQService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.wyp.materialqqlite.QQService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ReadmeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/title_activity_readme"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DeveloperActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:label="@string/title_activity_developer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.OpensourceActivity"
            android:label="@string/title_activity_opensource" >
        </activity>
    </application>

</manifest>
